@{
    ViewData["Title"] = "XmlImport";
}

<div class="text-center">
    <h1 class="display-4">XmlImport</h1>
    <p> <a href="https://localhost:7152/home/DownloadFile">Запустить скачивание файлов</a>.</p>
</div>
